# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDhMx26dOpOGTEy_iQG7U08hBrhJNVRyGo"
VITE_FIREBASE_AUTH_DOMAIN="lostandfound-mu.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="lostandfound-mu"
VITE_FIREBASE_STORAGE_BUCKET="lostandfound-mu.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1052494891250"
VITE_FIREBASE_APP_ID="1:1052494891250:web:fc5e95355e8b470036a86b"
VITE_FIREBASE_DATABASE_URL="https://lostandfound-mu-default-rtdb.firebaseio.com"

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=rzp_test_lYhx2JyyS2dscQ
VITE_RAZORPAY_SECRET_KEY=9xzBnICstn8OigNjjrooB9Rr

# App Configuration
VITE_APP_NAME=ShopSphere
VITE_API_URL=http://localhost:5173